<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value, :maxlength => 80, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :has_text_field %><br />
    <%= f.check_box :has_text_field %>
  </div>
  <div class="field">
    <%= f.label :form %><br />
    <%= f.collection_select( :form_id, Form.actives, :id, :value, { :prompt => true } ) %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <% Status.all.each do |status| %>
      <%= f.radio_button( :status_id, status.id ) %> <%= status.value %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
