<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value, :maxlength => 80, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :has_text_field %><br />
    <%= f.check_box :has_text_field %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <% Status.all.each do |status| %>
      <%= f.radio_button( :status_id, status.id ) %> <%= status.value %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
