<h1>Listing options</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Has text field</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @options.each do |option| %>
  <tr>
    <td><%= option.value %></td>
    <td><%= option.has_text_field %></td>
    <td><%= option.status.value %></td>
    <td><%= link_to 'Show', option %></td>
    <td><%= link_to 'Edit', edit_option_path(option) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Option', new_option_path %>
