<h1>Listing Forms</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.value %></td>
    <td><%= form.status.value %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form', new_form_path %>
